@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>


<p>TI am a senior at Ohio University and majoring in MIS and Business Analytics. I will be graduating in December. I am involved in ISAP - Information Systems and Analytics Professions. I am currently looking for jobs for post-graduation.</p>
