@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Shelby Moses - MIS 4200 Demo Site</h2>
    <p class="lead">A demo site for MIS 4200</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About this Website</h2>
        <p>
            This website allows you to enter a student and their rental relationship with a property. <br />
            @Html.ActionLink("Student", "Index", "Students") <br />
            @Html.ActionLink("Rental", "Index", "Rentals") <br />
            @Html.ActionLink("Property", "Index", "Property") <br />
        </p>

        
    </div>
    <div class="col-md-4">
        <h2>Athens, OH </h2>
        <p>If you are interested in learning more about Athens, OH you can click on the following link.</p>
        <p><a class="btn btn-default" href="http://athensohio.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Athens Rental Properties</h2>
        <p>Athens, OH is has many rental agencies to rent your college house/apartment from. If you would like to explore some of the agencies, click the links below. </p>
        <p><a class="btn btn-default" href="https://www.jdsathensrentals.com/">JDS Rentals &raquo;</a></p>
        <p><a class="btn btn-default" href="https://kleinpennyrentals.com/">Kleinpenny Rentals &raquo;</a></p>
        <p><a class="btn btn-default" href="http://www.cornwellpropertiesathens.com/">Cornwell Properties &raquo;</a></p>
        <p><a class="btn btn-default" href="https://bobcatrentals.net/">Bobcat Rentals &raquo;</a></p>
    </div>
</div>